<div class="mission">
    <div class="image-container">
        <img class="img" src="{{program?.links?.mission_patch_small}}">
    </div>
    <div class="name-area">
        {{program?.mission_name}} # 
        {{program?.flight_number}}
    </div>
    <div class="basic-info">
        <div class="heading" >Mission Ids:</div>
        <ul style="margin-top: -1px;">
            <li *ngFor="let id of program?.mission_id">{{id}}</li>
        </ul>
        <div class="heading">Launch Year: <span>{{program?.launch_year}}</span></div>
        <div class="heading">Successful Launch: 
            <span *ngIf="program?.launch_success">True</span>
            <span *ngIf="!program?.launch_success">False</span>
        </div>
        <div class="heading">Successful Landing: 
            <span *ngIf="(program?.rocket?.first_stage?.cores.length && program?.rocket?.first_stage?.cores[0]?.land_success)">True</span>
            <span *ngIf="!(program?.rocket?.first_stage?.cores.length && program?.rocket?.first_stage?.cores[0]?.land_success)">False</span>
        </div>
    </div>
    
</div>